body {
  margin: 0;
  background-image: url(https://i.imgur.com/udEtLBo.jpg);
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold;
  color: #13c8f3;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lobster', cursive;

}
  
.container {
  padding-top: 3em;
}

.li {
  border: 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

